@import "tailwindcss";

html {
  overflow-x: clip;
  scroll-behavior: smooth;
}

@theme {
  --font-mono: var(--font-geist-mono);

  --color-theme-border-subtle: var(--color-taupe-200);
  --color-theme-border: var(--color-taupe-300);
  --color-theme-background: var(--color-white);
  --color-theme-background-accent: var(--color-taupe-50);

  --color-theme-text-subtle: var(--color-taupe-400);
  --color-theme-text: var(--color-taupe-500);
  --font-mono: var(--font-geist-mono);
}

@utility text-action {
  @apply font-medium uppercase;
}

@property --scroll-progress {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

:root {
  --header-py-min: 0;
  --header-py-max: 16px;
  --header-font-min: 36px;
  --header-font-max: 54px;
  --header-max-height: calc(
    var(--header-py-max) *
    2 +
    var(--header-font-max) *
    1.2
  );
  --header-py: calc(
    var(--header-py-max) -
    (var(--header-py-max) - var(--header-py-min)) *
    var(--scroll-progress)
  );
}

.header {
  padding-block: var(--header-py);
}

.header-title {
  font-size: calc(
    var(--header-font-max) -
    (var(--header-font-max) - var(--header-font-min)) *
    var(--scroll-progress)
  );
}

main {
  margin-top: var(--header-max-height);
}

section {
  scroll-margin-top: var(--header-max-height);
}
